.buttonPrimary {
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition-property: color,background-color,border-color,box-shadow,opacity,height;
    transition-duration: .2s;
    transition-timing-function: ease-in;
    cursor: pointer;
    text-decoration: none;
    font-family: var(--font-family-1);
    font-weight: bold;
    line-height: 1.3em;
    letter-spacing: .2px;
    padding: 10px 20px;
    border: 0;
    border-radius: 80px;
    position: relative;
    overflow: hidden;
    min-height: 60px;
    background-color: #A52A2A;
    color: #fff;
    font-size: 1.25rem;
    min-height: 44px;
    margin: 10px 0;
}