.levelCard {
    box-shadow: none !important;
    text-align: left;
    background: #e6caff;
    color: #23085a;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}