footer {
    display: flex;
    background: #23085a;
    color: #fff;
    padding: 20px;
    ul {
        margin: 0;
        display: flex;
        flex-direction: column;
        list-style: none;
        @media (min-width: 767px) {
            flex-direction: row;
        }
        li {
            list-style: none;
            margin: 0;
            padding: 0;
            padding-right: 25px;
        }
        li:before {
            display: none;
        }
    }
}